<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<h1>Add User</h1>
<div class="row">
    <a href="/blogs-list"><button type="button" class="btn btn-primary waves-effect waves-light">Add Blogs</button> </a>
</div>
<%- contentFor('FooterJs') %>
