
 <footer class="footer">
                        © 2020 Sid - <span class="d-none d-sm-inline-block"> Crafted with <i class="mdi mdi-heart text-danger"></i> by Sid ;)</span>
                </footer>

