  <!-- jQuery  -->
  <script src="http://localhost:3000/public/assets/js/jquery.min.js"></script>
  <script src="http://localhost:3000/public/assets/js/bootstrap.bundle.min.js"></script>
  <script src="http://localhost:3000/public/assets/js/metisMenu.min.js"></script>
  <script src="http://localhost:3000/public/assets/js/jquery.slimscroll.js"></script>
  <script src="http://localhost:3000/public/assets/js/waves.min.js"></script>

  <script src="http://localhost:3000/public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

  <!-- App js -->
  <script src="http://localhost:3000/public/assets/js/app.js"></script>

</body>
</html>
