<head>
              <meta charset="utf-8" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
              <title>Lexa - Responsive Bootstrap 4 Admin Dashboard</title>
              <meta content="Admin Dashboard" name="description" />
              <meta content="Themesbrand" name="author" />
              <link rel="shortcut icon" href="public/assets/images/favicon.ico">
              <link rel="stylesheet" href="public/plugins/morris/morris.css">
      
              <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
              <link href="public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
              <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css">
              <link href="public/assets/css/style.css" rel="stylesheet" type="text/css">
         