 <!-- ========== Left Sidebar Start ========== -->
 <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <!--DASHBOARD-->
                <li>
                    <a href="/" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i><span class="badge badge-primary badge-pill float-right">2</span> <span> Admin Dashboard </span>
                    </a>
                </li>
                <!--USER-->
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ion ion-person"></i><span> User <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="/user-list">User List</a></li>
                        <li><a href="/user-roles">User Roles</a></li>
                    </ul>
                </li>
                <!--LOCATION-->
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ion ion-location"></i><span> Location <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="/country">Country</a></li>
                        <li><a href="/state">State</a></li>
                        <li><a href="/city">City</a></li>
                    </ul>
                </li>
                <!--EVENT-->
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi mdi-etsy"></i> <span> Event <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                    <ul class="submenu">
                        <li><a href="/event-list">Event List</a></li>
                        <li><a href="/event-category">Event Category</a></li>
                    </ul>
                </li>
                  <!--FITNESS GROUP-->
                <li>
                    <a href="/fitness-group" class="waves-effect"><i class="mdi mdi mdi-dumbbell"></i> <span> Fitness group <span class="float-right"> </span> </span> </a>
                </li>
                <!-- COMPANY-->
                <li>
                    <a href="/company" class="waves-effect"><i class="mdi mdi mdi-laptop-mac"></i> <span> Company <span class="float-right"> </span> </span> </a>
                </li>
                <!-- CHALLENGES -->
                <li>
                    <a href="/challenges" class="waves-effect"><i class="ion ion-speakerphone"></i> <span> Challenges <span class="float-right menu-arrow"></span> </span> </a>
                </li>
                <!-- BLOGS -->
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi mdi-note-text"></i><span> Blogs <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="/blogs-list"> Blog List </a></li>
                        <li><a href="/blogs-category"> Blog Category </a></li>
                    </ul>
                </li>
<!--                            //payment-->
                <li>
                    <a href="/payment" class="waves-effect"><i class="ion ion-speakerphone"></i> <span> payment <span class="float-right menu-arrow"></span> </span> </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->