<%- contentFor('HeaderCss') %>
<link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">


<%- contentFor('body') %>
<h1>Add New Slider</h1>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Add New Slider</h4>
                        <hr>
                        <form class="" action="/add-slider" method="post" enctype="multipart/form-data">
                            <!-- Slider Title-->
                            <div class="form-group">
                                <label>Slider Title</label>
                                <input type="text" name="slider_title" class="form-control" required placeholder="Slider Title" />
                            </div>
                            <!-- dropzone-->
                            <div>
                                <img style="width:50%" id="blah" src="#" alt="your image" />
                            </div>
                            <br>
                            <div>
                                <input name="slider_image" id="slider_image" type="file" accept ="image/*">
                            </div>
                            <hr>
                            <!-- submit button-->
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    <a href="/slider-list"><input type="button" value="Cancel" class="btn btn-secondary waves-effect m-l-5"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>
<script src="public/plugins/tinymce/tinymce.min.js"></script>

<script>
    // Image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#slider_image").change(function() {
        alert("Image Uploaded");
        readURL(this);
    });

</script>

<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<!--advanced form-->
<script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<!--dropzone-->
<!-- Plugins Init js -->
<script src="public/assets/pages/form-advanced.js"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
