<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<!-- DataTables -->
<link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />


<%- contentFor('body') %>

<!-- Start content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Payment List</h4>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-10"><h4 class="mt-0 header-title">All Payments</h4></div>

                        </div>
                        <br>
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>order_id</th>
                                <th>trans_id</th>
                                <th>user_id</th>
                                <th>fullname</th>
                                <th>email</th>
                                <th>contact_number</th>
                                <th>gender</th>
                                <th>tshirt_size</th>
                                <th>address</th>
                                <th>challenge_name</th>
                                <th>company</th>
                                <th>country</th>
                                <th>currency</th>
                                <th>amount</th>
                                <th>transaction_charge</th>
                                <th>total_amount</th>
                                <th>payment_status</th>
                                <th>capture_status</th>
                                <th>razopay_response</th>
                                <th>user_ip_address</th>
                                <th>created_date</th>
                            </tr>
                            </thead>

                            <tbody>
                            <%
                            for(var i=1;i<=10;i++){
                                %>
                                <tr>
                                    <th>id</th>
                                    <th>order_id</th>
                                    <th>trans_id</th>
                                    <th>user_id</th>
                                    <th>fullname</th>
                                    <th>email</th>
                                    <th>contact_number</th>
                                    <th>gender</th>
                                    <th>tshirt_size</th>
                                    <th>address</th>
                                    <th>challenge_name</th>
                                    <th>company</th>
                                    <th>country</th>
                                    <th>currency</th>
                                    <th>amount</th>
                                    <th>transaction_charge</th>
                                    <th>total_amount</th>
                                    <th>payment_status</th>
                                    <th>capture_status</th>
                                    <th>razopay_response</th>
                                    <th>user_ip_address</th>
                                    <th>created_date</th>
                                </tr>
                                <%
                            }
                            %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
</div> <!-- content -->

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="public/plugins/datatables/jszip.min.js"></script>
<script src="public/plugins/datatables/pdfmake.min.js"></script>
<script src="public/plugins/datatables/vfs_fonts.js"></script>
<script src="public/plugins/datatables/buttons.html5.min.js"></script>
<script src="public/plugins/datatables/buttons.print.min.js"></script>
<script src="public/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="public/assets/pages/datatables.init.js"></script>

