

            <%- contentFor('HeaderCss') %>
            <!-- perticular page css -->
              
            
            <%- contentFor('body') %>
			
<div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">User Roles</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <table class="table table-striped mb-0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>User Roles</th>
                    <th>created_date</th>
                    <th>updated_date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr><tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <th><button>edit</button>  <button>delete</button></th>
                </tr>
                </tbody>
            </table>

        </div> <!-- container-fluid -->

    </div> <!-- content -->

    <%- contentFor('FooterJs') %>
