<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>

<h1>Add User Role</h1>
<a href="/user-roles"><button type="button" class="btn btn-primary waves-effect waves-light">Add user role</button> </a>
<%- contentFor('FooterJs') %>
