<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<h1>Add User</h1>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Add New User Role</h4>
                        <hr><form class="" action="/add-user-roles" method="post">
                            <%if(message != "") { %>
                            <div class="col-sm-12" style="margin-top: auto; margin-bottom: auto; width: 304px; text-align: center;border-style: solid;border-width: 2px;border-radius: 5px; border-color: red">
                                <span style="color: red"><%= message %></span>
                            </div><% } %>
                            <br>
                            <!--Company Name-->
                            <div class="form-group">
                                <label>User Role</label>
                                <input type="text" name="user_role_name" class="form-control" required placeholder="User Role" />
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    <a href="/user-roles"><input type="button" value="Cancel" class="btn btn-secondary waves-effect m-l-5"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>
<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
