<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<h1>Add User</h1>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Add New Challenge</h4>
                        <hr>
                        <!--                    <p class="text-muted m-b-30">Parsley is a javascript form validation library. It helps you provide your users with feedback on their form submission before sending it to your server.</p>-->
                        <form class="" action="/add-challenges" method="post">
                            <!--Challenge title-->
                            <div class="form-group">
                                <label>Challenge Title</label>
                                <input type="text" name="challenge_title" class="form-control" required placeholder="Challenge Title">
                            </div>
                            <!--Challenge Price-->
                            <div class="form-group">
                                <label>Challenge Price</label>
                                <div>
                                    <input data-parsley-type="digits" name="challenge_price" type="text" class="form-control" required placeholder="Challenge Price">
                                </div>
                            </div>
                            <!--Challenge description-->
                            <div class="form-group">
                                <label>Challenge Description</label>
                                <div class="row">
                                    <div class="col-12" style="height:450px;">
                                        <div class="card m-b-20" >
                                            <textarea id="elm1" name="challenge_description"></textarea>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                            <!--Challenge note-->
                            <div class="form-group">
                                <label>Challenge Note</label>
                                <input type="text" name="challenge_note" class="form-control" required placeholder="Challenge Note">
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    <a href="/challenges"><input type="button" value="Cancel" class="btn btn-secondary waves-effect m-l-5"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>

<script src="public/plugins/tinymce/tinymce.min.js"></script>

<script>
    $(document).ready(function () {
        if($("#elm1").length > 0){
            tinymce.init({
                selector: "textarea#elm1",
                theme: "modern",
                height:300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
        }
    });
</script>
<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
