<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<h1>Add User</h1>
<div class="row">
    <a href="/event-category"><button type="button" class="btn btn-primary waves-effect waves-light">Add Event Category</button> </a>
</div>
<%- contentFor('FooterJs') %>
<script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
